
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tran Le Duy">

    <title>Đăng Nhập</title>

    <!--Bootstrap/CSS-->
    <link href="~/Content/dangnhap.css" rel="stylesheet" />
    <link href="~/Content/general.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm("Login", "Authencation"))
    {
        if (!string.IsNullOrEmpty(@ViewBag.ThongBao))
        {
            <div id="message-box">
                <h3 class="warningMessage" style="text-align:center">@ViewBag.ThongBao</h3>
                <form method="post" action="~/Views/Authencation/Login.cshtml">
                    <input class="pointer" type="submit" name="closeMessage" value="ĐÓNG" />
                </form>
            </div>
        }
    }
    <div class="form">
        <div class="layout">
            <div class="img">
                <img src="~/Images/background.png" alt="background" />
            </div>
            <div class="text">
                <div class="group">
                    <h2 class="login-title" style="text-align:center; margin-top:10px;">ĐĂNG NHẬP</h2>
                </div>
                @using (Html.BeginForm("Login", "Authencation"))
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group" style="text-align: left;">
                        <label for="login">Tài khoản: </label>
                        @Html.TextBox("Username", null, new { @class = "form-control", @id = "login", required = "required" })
                    </div>

                    @Html.ValidationSummary(true)
                    <div class="form-group" style="text-align: left;">
                        <label for="password">Mật khẩu: </label>
                        @Html.Password("UserPass", null, new { @class = "form-control", @id = "password", required = "required" })
                    </div>
                    <button style="margin-top:40px;" type="submit" class="btn sub-btn btn-primary">ĐĂNG NHẬP</button>
                    <a class="forgotpassword" href="#">Forgot Password?</a>
                }
            </div>
        </div>
    </div>
</body>
</html>
