@model IEnumerable<Fashion_Website.Models.ADMIN>

@{
    ViewBag.Title = "Danh sách Nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .detail-button {
        background-color: lightblue;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .delete-button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .edit-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }
</style>

<div class="row mt-4">
    <div class="col-6">
        @Html.ActionLink("Thêm Nhân viên mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-6">
        <form style="width: 100%; padding-left: 250px;" action="/User" method="get">
            <div class="form-group">
                <input class="form-control" id="search" type="text" name="search" placeholder="" value="" />
            </div>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>
                Mã NV
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Tài Khoản
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaAD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                <td>
                    <a class="edit-button" href="~/NhanVien/Edit?id=@item.MaAD">Cập nhật</a>
                    <a class="detail-button" href="~/NhanVien/Details?id=@item.MaAD">Chi tiết</a>
                    <a class="delete-button" href="~/NhanVien/Delete?id=@item.MaAD">Xóa</a>
                </td>
            </tr>
        }

    </table>
</div>
