@model List<Fashion_Website.Models.shoppingCart.CartItemViewModel>

@{
    ViewBag.Title = "SanPhamGH";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<style type="text/css">
    .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: middle;
    }

    media screen and (max-width: 600px) {
        table #cart tbody td .form-control

    {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

        table#cart tfoot td .btn {
            display: block;
        }
    }
</style>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    // Get the quantity and price elements
    const quantityElement = document.getElementById("quantity");
    const priceElement = document.getElementById("price");

    // Add event listeners to update the cart whenever the quantity or price changes
    quantityElement.addEventListener("change", updateCart);
    priceElement.addEventListener("change", updateCart);

    function updateCart() {
        // Get the selected quantity and price from the form
        const quantity = document.getElementById("quantity").value;
        const price = document.getElementById("price").value;

        // Calculate the subtotal and total
        const subtotal = quantity * price;
        const total = subtotal + 10; // add $10 for shipping

        // Update the subtotal and total values in the DOM
        document.getElementById("subtotal").innerHTML = "$" + subtotal.toFixed(2);
        document.getElementById("total").innerHTML = "$" + total.toFixed(2);
    }
</script>
<h2 class="text-center">Giỏ hàng</h2>
@if (Model == null || !Model.Any())
{
    <h2>@ViewBag.Message</h2>
}
else
{
    @*<table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName - (@item.ProductSize)</td>
                        <td><img src="@item.ProductImg" alt="@item.ProductName"></td>
                        <td>@item.Price.ToString("c")</td>
                        <td>
                            @using (Html.BeginForm("UpdateCart", "ShoppingCart"))
                            {
                                @Html.Hidden("productId", item.ProductId)
                                @Html.Hidden("size", item.ProductSize)
                                <input type="number" name="quantity" value="@item.Quantity" min="1" max="10">
                                <input type="submit" value="Update">
                            }
                        </td>
                        <td>@item.Subtotal.ToString("c")</td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "ShoppingCart"))
                            {
                                @Html.Hidden("productId", item.ProductId)
                                @Html.Hidden("size", item.ProductSize)
                                <input type="submit" value="Remove">
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right">Total:</td>
                    <td>@Model.Sum(item => item.Subtotal).ToString("c")</td>
                </tr>
            </tfoot>
        </table>
        <a href="~/Cart/ThanhToan">Thanh toán</a>*@


    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Tên sản phẩm</th>
                    <th style="width:10%">Giá</th>
                    <th style="width:8%">Số lượng</th>
                    <th style="width:22%" class="text-center">Thành tiền</th>
                    <th style="width:10%"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs">
                                    @Html.Hidden("ProductId", item.ProductId)
                                    <img src="~/images/@item.ProductImg" class="img-responsive" style="width: 100px; height: 100px;" alt="@item.ProductName" />
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">@item.ProductName - (@item.ProductSize)</h4>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price" id="price">@item.Price.ToString("c") </td>
                        <td data-th="Quantity">
                            <input id="quantity" class="form-control text-center" type="number" name="quantity" value="@item.Quantity" min="1" max="10" readonly>
                        </td>
                        <td data-th="Subtotal" class="text-center" id="subtotal">@item.Subtotal.ToString("c") </td>
                        <td class="actions" data-th="">
                            <button class="btn btn-danger btn-sm">
                                <a href="~/Cart/RemoveFromCart?productId=@item.ProductId"><i class="fa fa-trash-o"></i></a>
                            </button>
                        </td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a href="~/Home/SanPham" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                    <td colspan="1" class="hidden-xs"> </td>
                    <td>
                        <button class="btn btn-info btn-sm">
                            <a href="~/Cart/ClearCart">Xóa toàn bộ</a>
                        </button>
                    </td>
                    <td class="hidden-xs text-center">
                        <strong id="total">Tổng tiền @Model.Sum(item => item.Subtotal).ToString("c") </strong>
                    </td>
                    <td>
                        <a href="~/Cart/ThanhToan" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}

